<%= form_with(model: autor) do |form| %>
  <% if autor.errors.any? %>
    <div style="color: red">
      <h2> Não foi possível salvar autor pois:</h2>

      <ul>
        <% autor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome, {class: "form-control"} %>
  </div>

  <div>
    <%= form.label "Livros", style: "display: block" %>
    <%= form.select :livro_ids, options_from_collection_for_select(Livro.order(:nome), :id, :nome), {:prompt => false}, {multiple: true, class: "form-select", style: "min-height: 200px;"} %>
    <span style="font-size: 0.75rem">Você pode selecionar múltiplas opções com Ctrl + clique do mouse</span>
  </div>

  <div class="my-4">
    <%= form.submit "Salvar autor", class: "btn btn-success" %>
  </div>

  <script>
    var array_livros = <%= autor.livro.map{|l| l.id.to_s}.to_json.html_safe %>;
    selecionaInputs(array_livros, 'autor_livro_ids');
  </script>

<% end %>
