<%= form_with(model: autor) do |form| %>
  <% if autor.errors.any? %>
    <div style="color: red">
      <h2> Não foi possível salvar autor pois:</h2>

      <ul>
        <% autor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group my-2">
    <label class="input-group-text" for="<%= :nome %>">Nome</label>
    <%= form.text_field :nome, {class: "form-control"} %>
  </div>

  <div class="my-2">
    <div class="input-group">
      <label class="input-group-text" for="<%= :livro_ids %>">Livros</label>
      <%= form.select :livro_ids, options_from_collection_for_select(Livro.order(:nome), :id, :nome), {:prompt => false}, {multiple: true, class: "form-select", style: "min-height: 200px;"} %>
    </div>
    <span>Você pode selecionar múltiplas opções com Ctrl + clique do mouse</span>
  </div>

  <div class="mt-4">
    <%= form.submit "Salvar autor", class: "btn btn-success" %>
  </div>
  <%
    @ids = Array.new
    autor.livro.each do |l|
      @ids.push(l.id.to_s)
    end
  %>
  <script>
    var array_livros = <%= @ids.to_json.html_safe %>;
    selecionaInputs(array_livros, 'autor_livro_ids');
  </script>

<% end %>
