<% @title="Autores" %>

<p style="color: green"><%= notice %></p>

<h1><%= @title %></h1>

<div id="autors" class="row">
  <% @autors.each do |autor| %>
    <div class="col-12 col-md-6 mt-4 px-3 d-flex flex-column justify-content-between">
      <div>
        <h3> <%= autor.nome %> </h3>
        <!-- lista livros do autor -->
        <strong> Livros:</strong>
        <div class="list-group flex-fill">
          <% autor.livro.each do |livro| %>
            <a href="<%= livro_path(livro.id) %>" class="list-group-item list-group-item-action">
              <%= livro.nome %>
            </a>
          <% end %>
        </div>
      </div>
      <!-- botão para visualizar dados autor -->
      <div class="d-flex justify-content-end mt-2">
        <%= link_to "Ver autor", autor, {class: "btn btn-info"} %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Criar autor", new_autor_path, {class: "btn btn-success my-4"} %>
