<%= form_with(model: editora) do |form| %>
  <% if editora.errors.any? %>
    <div style="color: red">
      <h2>Não foi possível salvar editora pois:</h2>

      <ul>
        <% editora.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome, {class: "form-control"} %>
  </div>

  <div class="my-4">
    <%= form.submit "Salvar editora", class: "btn btn-success mt-4"  %>
  </div>
<% end %>
