<p style="color: green"><%= notice %></p>

<%= render @editora %>

<div class="d-flex justify-content-between mt-2">
  <div>
    <%= link_to "Voltar às editoras", editoras_path, {class: "btn btn-primary"} %>
    <%= link_to "Editar editora", edit_editora_path(@editora), {class: "btn btn-warning "} %>
  </div>
  <%= button_to "Apagar editora", @editora, {method: :delete,class: "btn btn-danger"}  %>

</div>
