<p style="color: green"><%= notice %></p>

<%= render @sinopse %>

<div class="d-flex justify-content-between mt-2">
  <div>
    <%= link_to "Voltar às sinopses", sinopses_path, {class: "btn btn-primary"} %>
    <%= link_to "Editar sinopse", edit_sinopse_path(@sinopse), {class: "btn btn-warning "} %>
  </div>
  <%= button_to "Apagar sinopse", @sinopse, {method: :delete,class: "btn btn-danger"}  %>
</div>
