<%= form_with(model: livro) do |form| %>
  <% if livro.errors.any? %>
    <div style="color: red">
      <h2>Não foi possível salvar livro pois:</h2>

      <ul>
        <% livro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
          <li><%= livro.autor_ids.join(" ") %></li>

      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ano, style: "display: block" %>
    <%= form.number_field :ano, in: -1000..2023, class: "form-control" %>
  </div>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div>
    <%= form.label :editora_id, style: "display: block" %>
    <%= form.collection_select :editora_id, Editora.order(:nome), :id, :nome, {include_blank: true}, prompt: true, class: "form-select" %>
  </div>

  <div>
    <%= form.label :texto_sinopse, style: "display: block" %>
    <%= form.text_area :texto_sinopse, {class: "form-control", value: livro.sinopse.texto, minlength: 20 , maxlength: 2000, rows: "4"} %>
  </div>
  <%= hidden_field(:livro, :sinopse_id, {:value => livro.sinopse.id})%>

  <div>
    <%= form.label "Autores", style: "display: block" %>

    <%= form.select :autor_ids, options_from_collection_for_select(Autor.order(:nome), :id, :nome), {:prompt => false}, {multiple: true, class: "form-select"} %>
    <span style="font-size: 0.75rem">Você pode selecionar múltiplas opções com Ctrl + clique do mouse</span>
  </div>


  <div class="my-4">
    <%= form.submit "Salvar livro", class: 'btn btn-success' %>
  </div>


  <script>
    var array_livros = <%= livro.autor.map{|a| a.id.to_s}.to_json.html_safe %>;
    selecionaInputs(array_livros, 'livro_autor_ids');
  </script>
<% end %>
