<p style="color: green"><%= notice %></p>

<%= render @livro %>

<div class="d-flex justify-content-between mt-2">
  <div>
    <%= link_to "Voltar a livros", livros_path, {class: "btn btn-primary"} %>
    <%= link_to "Editar livro", edit_livro_path(@livro), {class: "btn btn-warning "} %>
  </div>
  <%= button_to "Apagar livro", @livro, {method: :delete,class: "btn btn-danger"}  %>
</div>
